@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Ubuntu";
    font-display: swap;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #1b252c;
	--sl-color-accent: #496f85;
	--sl-color-accent-high: #becbd3;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e8f0eb;
	--sl-color-gray-2: #bbc5bf;
	--sl-color-gray-3: #7d9185;
	--sl-color-gray-4: #4b5d52;
	--sl-color-gray-5: #2b3d33;
	--sl-color-gray-6: #1a2b22;
	--sl-color-black: #131a16;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #cfd9df;
	--sl-color-accent: #4b7187;
	--sl-color-accent-high: #24353e;
	--sl-color-white: #131a16;
	--sl-color-gray-1: #1a2b22;
	--sl-color-gray-2: #2b3d33;
	--sl-color-gray-3: #4b5d52;
	--sl-color-gray-4: #7d9185;
	--sl-color-gray-5: #bbc5bf;
	--sl-color-gray-6: #e8f0eb;
	--sl-color-gray-7: #f3f7f5;
	--sl-color-black: #ffffff;
}